<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{index.title}}</title>
    {% block css %}
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/blog.css"/>
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">{{layout.indexButton}}</a>
                        </li>
                        {% if user %}
                        <li class="active">
                            <a href="/logout">{{layout.logout}}</a>
                        </li>
                        <li>
                            <a href="/changePwd">Change Password</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/login">{{layout.login}}</a>
                        </li>
                        <li>
                            <a href="/reg">{{layout.reg}}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/language">{{layout.language}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div id="container" class="container">
        {% block content %}
        {% endblock %}
        <hr/>
    </div>
    <footer>
        <p>作者：<strong>1 V 9的寂寞</strong></p>
    </footer>
    {% block js %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/blog.js"></script>
    {% endblock %}
</body>
</html>