{% extends 'layout.html' %}
{% block content %}
<div class="form-horizontal">
    <fieldset>
        <legend>登录</legend>
        <div class="control-group">
            <label for="username" class="control-label">用户名</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="username" name="username"/>
                <p class="help-block displayNONE" id="name-alert"></p>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">密码</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password"/>
                <p class="help-block displayNONE" id="pw-alert"></p>
            </div>
        </div>
        <div class="control-group" style="display: none;">
                <input type="password" class="input-xlarge" id="token_secret" name="token_secret"/>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" id="submit">登录</button>
        </div>
    </fieldset>
</div>
{% parent %}
{% endblock %}
{% block js %}
{% parent %}
<script type="text/javascript" src="js/login.js"></script>

{% endblock %}